
.home {
	/* padding: 20px; */
	padding: 64px 0 0;
	min-height: 100%;
	width: 100%;
	/* background-image: url(/assets/images/la-vida-la-bg-intro.JPG); */
	/* background-color: #f9e68c; */
}
.temaPresentVisual {

  width: 100%;
  background-size: cover;
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	margin: 0 auto auto auto;
}


.lyricsContainer {
	width: 90vw;
	line-height: 3rem;
}

@media (min-width:840px)	and (max-width:900px){
	.lyricsContainer {
		width: 40vw;
	}
}
@media (min-width:901px) and (max-width:1299px){
	.lyricsContainer {
		width: 40vw;
	}
}
@media (min-width:1300px){
	.lyricsContainer {
		width: 40vw;
	}
}


.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}
