.home {

	padding: 20px 0;
	margin: 0 auto auto auto;
	text-align: center;

	/* min-height: 100%;
	width: 100%; */
	/* background-image: url(); */
	/* background-color: #f9e68c; */
}
/* @media (min-width:679px){
	.home {
  	padding: 20px 0;
	}
} */

.laVidaLaIntro {
	width: auto;
	height: 80vw;
	color: #fff;
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	margin: 0 auto auto auto;
}
.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}
.portadaLink {
	position: absolute;
	/* background: #00ffff5e; */
	z-index: 2;
	text-decoration: none;
	color: #fff;
	cursor:pointer;
}
