.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
	background-image: url(/assets/images/la-vida-la-bg-intro.jpg);
	background-color: #f9e68c;
}
.laVidaLaIntro {
	width: 80vw;
	height: 80vw;
	color: #fff;
	text-align: center;
	background-image: url(/assets/images/gracias_a_la_vida_vparra_oscar_laguarda1366X1020_72.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	margin: 0 auto auto auto;
}
.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}
