#main-container:nth-child(2){
	display: none;
}
.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
	/* background-image: url(/assets/images/la-vida-la-bg-intro.JPG); */
	/* background-color: #f9e68c; */
}
.temaPresentVisual {

  width: 100%;
  background-size: contain;
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	margin: 0 auto auto auto;
}
.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}
