
.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
	font-family: "Sign Painter";
	background-image: url(/assets/images/clarisa-bg.jpeg);
	background-repeat: no-repeat;
	background-color: hsl(0, 0%, 2%);
	background-size: 100%;
	background-position: 50% 50%;
	background-attachment: fixed;
}
.listaCancionesCell:hover {
	background-color: hsla(360, 100%, 100%, 0.3);
}
.listaCancionesCell {
	/* min-height: 10vh; */
	cursor: pointer;
  /* width: 55vw; */
  background-size: cover;
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	margin: 0 auto auto auto;
	font-size: 3rem;
}
@media (max-width:600px)	{
	.listaCancionesCell {
		font-size: 2rem;
	}
}
.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}
